<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div class="titulo">
            <h1>PRUEBAS COVID EN COLOMBIA</h1>
          </div>
          <div class="titulo_2">
            <h2>EDITAR INFORMACIÓN DE PRUEBAS COVID</h2>
          </div>
          <div class="departamento">
          <div  height:200px; width:400px; margin:0 0 0 35%;">
            <select Departamento="Departamento">
                <option value="1">Departamento</option>
                <option value="2">Amazonas</option>  
                <option value="2">Antioquia</option> 
                <option value="3">Arauca</option>
                <option value="10">Atlantico</option> 
                <option value="11">Bolivar</option> 
                <option value="12">Boyaca</option> 
                <option value="1">Caldas</option>
                <option value="2">Caqueta</option>  
                <option value="2">Casanare</option> 
                <option value="3">Cauca</option>
                <option value="10">Cesar</option> 
                <option value="11">Choco</option> 
                <option value="12">Cordoba</option> 
                <option value="1">Cundinamarca</option>
                <option value="2">Guainia</option>  
                <option value="2">Guaviare</option> 
                <option value="3">Huila</option>
                <option value="10">La Guajira</option> 
                <option value="11">Magdalena</option> 
                <option value="12">Meta</option> 
                <option value="1">Nariño</option>
                <option value="2">Norte de Santander</option>  
                <option value="2">Putumayo</option> 
                <option value="3">Quindio</option>
                <option value="10">Risaralda</option> 
                <option value="11">San Andres y Providencia</option> 
                <option value="12">Santander</option> 
                <option value="2">Sucre</option>  
                <option value="2">Tolima</option> 
                <option value="3">Valle del Cauca</option>
                <option value="10">Vaupés</option> 
                <option value="11">Vichada</option> 
            </select>
            <div class="fecha">
                <label for="start"> FECHA:</label>
                <input type="date" id="start" name="trip-start"
                 value="2021-10-26"
                 min="2021-07-01" max="2021-10-31">
            </div>
            <div class="boton2">
                <button>BUSCAR</button>
            </div>
            <div>
                <h4>Pruebas Positivas</h4>
                <input type="number" name="Pruebas Positivas">
                <h5>Pruebas Negativas</h5>
                <input type="number" name="Pruebas Negativas">
                <h6>Pruebas Indeterminadas</h6>
                <input type="number" name="Pruebas Indeterminadas">
            </div>
            </div>
            </div>
          </div>
          <div class="boton">
            <button>CONTINUAR</button>
          </div>
    </body>
</html>
